@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/Content/styles/StyleSheet.css" />
</head>
<body>
<h2>Movies Showing</h2>
<div class="flex-container">
    <div>
        <img src="/Content/images/Bat_year_one_film.jpg" />
    </div>
    <div>
         <img src="/Content/images/Dark_knight_returns.jpg" />
    </div>
    <div>
         <img src="/Content/images/Batman_The_Long_Halloween_2021_poster.jpg" />
    </div>
</div>
</body>


</html>
