@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<body>

<h2>Movies Showing</h2>
 <div class="flex-container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <img class="img-fluid" src="/Content/images/Bat_year_one_film.jpg"  />
      </div>
      <div class="col-xs-6 col-md-3">
         <img class="img-fluid" src="/Content/images/Dark_knight_returns.jpg"  />
      </div>
      <div class="col-xs-6 col-md-3">
         <img class="img-fluid" src="/Content/images/Batman_The_Long_Halloween_2021_poster.jpg" />
      </div>
    </div>
  </div>
</body>


</html>
