@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<body>

<h2>Movies Showing</h2>
 <div class="flex-continer">
    <div class="row">
      <div class="col-xs-6 col-md-2">
          <a href="/Theater_page/MovieList"> 
              <img class="image-movies" src="/Content/images/Bat_year_one_film.jpg"  />
          </a> 
           <label for="Batman: Year One">Batman: Year One</label>
      </div>
      <div class="col-xs-6 col-md-2">
          <a href="/Theater_page/MovieList"> 
              <img class="image-movies" src="/Content/images/Dark_knight_returns.jpg"  />
          </a>
          <label for="Batman: The Darkt Knight Returns">Batman: The Darkt Knight Returns</label>
      </div>
      <div class="col-xs-6 col-md-2">
          <a href="/Theater_page/MovieList">
            <img class="image-movies" src="/Content/images/Batman_The_Long_Halloween_2021_poster.jpg" /> 
          </a>  
          <label for="Batman: The Long Halloween">Batman: The Long Halloween</label>
      </div>
    </div>
  </div>
</body>


</html>
