<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/styles/StyleSheet.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Berras_bio.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header class="image">
        <h2 class="head-Start">Berras Movie Theater</h2>
    </header>
    <div class="flex-container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom">
             <div class="container">
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                 <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link btn btn-sm btn-outline-info me-4" asp-area="" asp-page="/Index">HOME</a>
                            @*<a href="/Index">HOME</a>*@
                       </li>
                       <li class="nav-item">
                            <a class="nav-link btn btn-sm btn-outline-info me-4" asp-area="" asp-page="/Theater_Page/MovieList">MOVIES</a>
                            @*<a href="/Theater_Page/MovieList">MOVIES</a>*@
                       </li>
                       <li class="nav-item">
                            <a class="nav-link btn btn-sm btn-outline-info me-4" asp-area="" asp-page="/Theater_Page/BookTickets">TICKETS</a>
                            @*<a href="/Theater_Page/BookTickets">TICKETS</a>*@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>  
    </div>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Berras_bio - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


    @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> @*d-inline-flex p-2*@