@page
@model Berras_bio.Pages.Theater_Page.BookingModel

@{
    ViewData["Title"] = "Booking";
}

<h1 class="h2-start">Buy Tickets</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Booking.FirstName" class="control-label"></label>
                <input asp-for="Booking.FirstName" class="form-control" />
                <span asp-validation-for="Booking.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.LastName" class="control-label"></label>
                <input asp-for="Booking.LastName" class="form-control" />
                <span asp-validation-for="Booking.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Email" class="control-label"></label>
                <input asp-for="Booking.Email" class="form-control" />
                <span asp-validation-for="Booking.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Tickets" class="control-label"></label>
                <input asp-for="Booking.Tickets" class="form-control" />
                <span asp-validation-for="Booking.Tickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
