@page
@model Berras_bio.Pages.Theater_Page.BookTicketsModel

@{
    ViewData["Title"] = "BookTickets";
}

<h1 class="h2-start">Buy Tickets</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pages_Booking.Title" class="control-label"></label>
                <select asp-for="Pages_Booking.Title" asp-items="Model.movieOptions">
                    <options value="">--Select Movie--</options>
                </select>
                @*<input asp-for="Pages_Booking.Title" class="form-control" />*@
                @*<span asp-validation-for="Pages_Booking.Title" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Pages_Booking.FirstName" class="control-label"></label>
                <input asp-for="Pages_Booking.FirstName" class="form-control" />
                <span asp-validation-for="Pages_Booking.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages_Booking.LastName" class="control-label"></label>
                <input asp-for="Pages_Booking.LastName" class="form-control" />
                <span asp-validation-for="Pages_Booking.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages_Booking.Email" class="control-label"></label>
                <input asp-for="Pages_Booking.Email" class="form-control" />
                <span asp-validation-for="Pages_Booking.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages_Booking.Tickets" class="control-label"></label>
                <input asp-for="Pages_Booking.Tickets" class="form-control" />
                <span asp-validation-for="Pages_Booking.Tickets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pages_Booking.date" class="control-label"></label>
                <input asp-for="Pages_Booking.date" class="form-control" />
                <span asp-validation-for="Pages_Booking.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Buy" onclick="return confirm('Your tickets are booked')" class="btn btn-outline-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Theater_Page/MovieList">Back to Movies</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
