
* {
    font-family: Courier New, Courier, monospace;
    color: #c27008;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #190001;
}

.image {
    height: 55vh;
    background-image: url("/content/images/movie-theatre1.jpg");
    background-size: 100% 400px;
    background-repeat: no-repeat;
    color: #2B2C4A;
}

.flex-container > div {
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 20px;
    text-align: center;
    line-height: 50px;
}

.head-Start {
    text-align: center;
    padding-top: 140px;
    font-weight: bold;
    font-size: 5vw;
    color: #460054;
}

ul {
}

li {
    display: inline;
    padding: 20px;
}

a {
    color: #c27008;
    text-decoration: none;
}